# Where are the late genes

In [3]:
# %load ../config/defaults.py
# Imports
import os
import sys
from pathlib import Path

from IPython.display import display, HTML, Markdown
import numpy as np
import pandas as pd

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

# Project level imports
sys.path.insert(0, '../lib')
from larval_gonad.notebook import Nb
from larval_gonad.plotting import make_figs
from larval_gonad.config import memory

# Setup notebook
nbconfig = Nb.setup_notebook(seurat_dir='../output/scrnaseq_combine_force/')

last updated: 2018-05-11
Git hash: d95f08fa2067106d9c420b236a6398aa113d03ff

In [5]:
!ls $nbconfig.seurat_dir

2018-05-10_scrnaseq_early_spermatocytes_vs_late_spermatocytes_biomarkers.tsv
2018-05-10_scrnaseq_germ_vs_soma_biomarkers.tsv
2018-05-10_scrnaseq_late_spermatocytes_vs_germ_biomarkers.tsv
2018-05-10_scrnaseq_spermatogonia_vs_germ_biomarkers.tsv
biomarkers_0.4.tsv
biomarkers_0.6.tsv
biomarkers_1.tsv
cca_cell.tsv
cca_gene_full.tsv
cca_gene.tsv
clusters.tsv
metadata.tsv
normalized_read_counts.tsv
raw.tsv
scaled.tsv
seurat.Robj
tsne.tsv
var_genes.txt

In [13]:
biomarkers = pd.read_csv(Path(nbconfig.seurat_dir, 'biomarkers_0.4.tsv'), sep='\t')
biomarkers.set_index('primary_FBgn', inplace=True)
biomarkers.index.name = 'FBgn'

In [28]:
biomarkers.head()

,gene_symbol,p_val,avg_logFC,pct.1,pct.2,p_val_adj,cluster
FBgn,,,,,,,
FBgn0000014,abd-A,0.000000e+00,1.619018,0.710,0.090,0.000000e+00,7
FBgn0000014,abd-A,0.000000e+00,1.318108,0.705,0.103,0.000000e+00,8
FBgn0000015,Abd-B,0.000000e+00,1.803189,0.628,0.007,0.000000e+00,7
FBgn0000017,Abl,1.546106e-78,0.644410,0.397,0.174,2.238143e-74,7
FBgn0000017,Abl,1.516243e-46,0.422681,0.392,0.179,2.194913e-42,8

In [36]:
def get_chrom_loc(cluster):
    up = biomarkers.query(f'cluster == {cluster} & p_val_adj < 0.01')
    dat = up.join(nbconfig.fbgn2chrom)
    display(dat.chrom.value_counts().to_frame())

In [37]:
get_chrom_loc(0)

       chrom
chr3R    258
chr2L    241
chr2R    227
chr3L    220
chrX      97
chrM       2
chr4       1

In [38]:
get_chrom_loc(3)

       chrom
chr3R    370
chr2L    340
chr3L    309
chr2R    303
chrX     189
chr4       5

In [40]:
get_chrom_loc(6)

       chrom
chr3R    144
chr2R    130
chrX     129
chr3L    114
chr2L    103
chr4       8