In [1]:
import os
import sys
import re
from pathlib import Path

from IPython.display import display, HTML, Markdown
import numpy as np
import pandas as pd

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

# Project level imports
from larval_gonad.notebook import Nb

In [2]:
# Setup notebook
nbconfig = Nb.setup_notebook(seurat_dir='../output/scrnaseq-wf/scrnaseq_combine_force')

last updated: 2019-03-14
Git hash: bf23248e80ec1d59e7af8108be5753020c616dbe

In [10]:
# spearman correlation M1 and L1
(
    pd.read_parquet('../output/scrnaseq-wf/tpm.parquet')
    .assign(cluster=lambda df: df.cluster.map(nbconfig.short_cluster_annot))
    .query('cluster == ["M1º", "L1º"]')
    .pivot_table(index='FBgn', columns='cluster', values='TPM')
    .corr(method='spearman')
)

cluster       L1º       M1º
cluster
L1º      1.000000  0.973628
M1º      0.973628  1.000000

In [3]:
# Genes that are biomarkers in M1 and L1
df = (
    pd.read_csv('../output/scrnaseq-wf/scrnaseq_combine_force/biomarkers_res.0.6.tsv', sep='\t', index_col=0)
    .rename_axis('FBgn')
    .assign(cluster=lambda df: df.cluster.map(nbconfig.short_cluster_annot))
    #.query('cluster == ["M1º", "L1º"]')
    .pivot_table(index='FBgn', columns='cluster', values='avg_logFC')
    .pipe(lambda df: ~df.isnull())
)

pd.crosstab(df["M1º"], df["L1º"])

L1º    False  True
M1º
False   3269     29
True     778    966

In [55]:
male_sterile = (
    pd.read_csv('/home/fearjm/Downloads/male_sterile_genes.txt', header=None)
    .iloc[:, 0]
    .tolist()
)

In [104]:
# Genes that are expressed
df = (
    pd.read_parquet('../output/scrnaseq-wf/raw_by_cluster.parquet')
    .assign(cluster=lambda df: pd.Categorical(df.cluster.map(nbconfig.short_cluster_annot), ordered=True, categories=nbconfig.short_cluster_order))
    .dropna()
    .pivot_table(index='FBgn', columns='cluster', values='UMI')
    .fillna(0)
    .pipe(lambda df: df > 0)
)

In [109]:
df.reindex(male_sterile).dropna().sum(axis=1).value_counts()

9.0    360
6.0      5
8.0      5
3.0      4
4.0      4
5.0      3
1.0      2
7.0      1
2.0      1
dtype: int64

In [110]:
display(pd.crosstab(df["E1º"], df["M1º"]))
display(pd.crosstab(df["E1º"], df["L1º"]))
display(pd.crosstab(df["M1º"], df["L1º"]))

M1º    False  True
E1º
False    713   1247
True     149  12367

L1º    False  True
E1º
False   1011    949
True     579  11937

L1º    False  True
M1º
False    490    372
True    1100  12514

In [130]:
dcc = [
    'FBgn0002774',
    'FBgn0002775',
    'FBgn0005616',
    'FBgn0005617',
    'FBgn0014340',
    'FBgn0019660',
    'FBgn0019661',
    'FBgn0283442'
]

In [139]:
(
    pd.read_parquet('../output/scrnaseq-wf/tpm_zscore_w_rep.parquet')
    .assign(cluster=lambda df: df.cluster.map(nbconfig.short_cluster_annot))
    .reset_index()
    .query('FBgn == "FBgn0283442"')
)

               FBgn cluster   rep  tpm_zscore
14372   FBgn0283442     L1º  rep1   -0.211667
28785   FBgn0283442     L1º  rep2   -0.300010
43198   FBgn0283442     L1º  rep3   -0.165666
57611   FBgn0283442      MC  rep1   -0.328423
72024   FBgn0283442      MC  rep2   -0.270219
86437   FBgn0283442      MC  rep3   -0.150829
100850  FBgn0283442     M1º  rep1   -0.291477
115263  FBgn0283442     M1º  rep2   -0.263817
129676  FBgn0283442     M1º  rep3   -0.230109
144089  FBgn0283442     E1º  rep1    0.272393
158502  FBgn0283442     E1º  rep2   -0.221085
172915  FBgn0283442     E1º  rep3   -0.148750
187328  FBgn0283442      LC  rep1   -0.336807
201741  FBgn0283442      LC  rep2   -0.311524
216154  FBgn0283442      LC  rep3   -0.226398
230567  FBgn0283442      EC  rep1   -0.279943
244980  FBgn0283442      EC  rep2   -0.230775
259393  FBgn0283442      EC  rep3   -0.214567
273806  FBgn0283442      SP  rep1    5.197220
288219  FBgn0283442      SP  rep2    1.224993
302632  FBgn0283442      SP  rep3    1.732421
317045  FBgn0283442      TE  rep1   -0.349700
331458  FBgn0283442      TE  rep2   -0.335786
345871  FBgn0283442      TE  rep3   -0.282672
360284  FBgn0283442      PC  rep1   -0.349700
374697  FBgn0283442      PC  rep2   -0.349700
389110  FBgn0283442      PC  rep3   -0.298911
403523  FBgn0283442     UNK  rep1   -0.349700
417936  FBgn0283442     UNK  rep2   -0.312938
432349  FBgn0283442     UNK  rep3   -0.185573
446762  FBgn0283442     UNK  rep1   -0.349700
461175  FBgn0283442     UNK  rep2   -0.349700
475588  FBgn0283442     UNK  rep3   -0.201786
490001  FBgn0283442     UNK  rep2   -0.274853
504414  FBgn0283442     UNK  rep3   -0.254241

In [152]:
(
    pd.read_parquet('../output/scrnaseq-wf/raw_by_cluster.parquet')
    .assign(cluster=lambda df: df.cluster.map(nbconfig.short_cluster_annot))
    .query('cluster != "UNK"')
    .pivot_table(index='FBgn', columns='cluster', values='UMI')
    .reindex(columns=nbconfig.short_cluster_order)
    .reindex(dcc)
    .rename(nbconfig.fbgn2symbol)
)

cluster    SP   E1º  M1º  L1º    EC   MC    LC    TE    PC
FBgn
mle       594  1060  132   65   147   58    94   124    99
msl-3     310   946  145   53    26   22    10    17    24
msl-2      93   360   49   25    46   27    27    43    34
msl-1     500   199   22   13    81   23    44    85    52
mof       170   200   61   16    15    7     6    30    17
roX2      215   129   85   38  2334  171  1065  2627  5258
roX1     1147   285  166   38  7167  389  4983  6925  3772
vas      2164   213   71   24    58   29    18     7     7

             cluster   rep  tpm_zscore
FBgn
FBgn0000008        0  rep1    2.152876
FBgn0000014        0  rep1   -0.415816
FBgn0000015        0  rep1   -0.249634
FBgn0000017        0  rep1   -0.657166
FBgn0000018        0  rep1   -0.826455
FBgn0000024        0  rep1    0.834762
FBgn0000028        0  rep1    0.355698
FBgn0000032        0  rep1   -0.854282
FBgn0000036        0  rep1   -0.616638
FBgn0000037        0  rep1   -0.601090
FBgn0000038        0  rep1   -0.498176
FBgn0000039        0  rep1   -0.313659
FBgn0000042        0  rep1   -0.760561
FBgn0000043        0  rep1   -1.002693
FBgn0000044        0  rep1   -0.395105
FBgn0000045        0  rep1   -0.613021
FBgn0000046        0  rep1    1.092560
FBgn0000047        0  rep1   -0.456362
FBgn0000052        0  rep1   -0.757077
FBgn0000053        0  rep1   -0.741810
FBgn0000057        0  rep1   -0.769549
FBgn0000063        0  rep1   -0.682051
FBgn0000064        0  rep1   -0.637459
FBgn0000071        0  rep1   -0.312526
FBgn0000075        0  rep1   -0.407763
FBgn0000077        0  rep1   -0.879131
FBgn0000079        0  rep1   -0.225435
FBgn0000083        0  rep1   -0.724374
FBgn0000084        0  rep1    0.025607
FBgn0000092        0  rep1   -0.725155
...              ...   ...         ...
FBgn0283477       11  rep3   -0.237137
FBgn0283478       11  rep3    1.710654
FBgn0283479       11  rep3    0.723905
FBgn0283494       11  rep3   -1.183623
FBgn0283499       11  rep3   -0.806833
FBgn0283500       11  rep3    1.703683
FBgn0283501       11  rep3    1.680748
FBgn0283503       11  rep3   -0.026573
FBgn0283509       11  rep3    0.927999
FBgn0283510       11  rep3    1.398772
FBgn0283521       11  rep3   -0.432821
FBgn0283525       11  rep3   -0.708566
FBgn0283531       11  rep3   -0.486210
FBgn0283535       11  rep3    0.288722
FBgn0283536       11  rep3    0.386653
FBgn0283545       11  rep3    1.454300
FBgn0283625       11  rep3    1.163429
FBgn0283627       11  rep3    1.718326
FBgn0283649       11  rep3    1.968523
FBgn0283651       11  rep3    1.705805
FBgn0283652       11  rep3   -1.011959
FBgn0283657       11  rep3   -0.797169
FBgn0283658       11  rep3    1.344010
FBgn0283659       11  rep3   -1.239190
FBgn0283666       11  rep3    1.911600
FBgn0283678       11  rep3    1.286845
FBgn0283680       11  rep3   -0.897709
FBgn0283681       11  rep3   -1.163759
FBgn0283682       11  rep3   -0.847769
FBgn0283712       11  rep3    1.240531

[504455 rows x 3 columns]

In [5]:
df.sum()[nbconfig.short_cluster_order]

cluster
SP     12886
E1º    14136
M1º    13614
L1º    12516
EC     12290
MC     12255
LC     12263
TE     11465
PC     11667
dtype: int64

In [10]:
(
    pd.read_csv('../output/scrnaseq-wf/germcell_deg/mid_vs_late.tsv', sep='\t', index_col=0)
    .rename_axis('FBgn')
    .query('p_val_adj <= 0.05')
    .assign(mid_bias=lambda df: df.avg_logFC > 0)
    .mid_bias.value_counts()
)

False    36
True     17
Name: mid_bias, dtype: int64